a.menubutton0 {
	position: fixed;
	right: 5px;
	top: 4%;
	padding: 10px;
	background: rgb(64,165,255);
	font-weight: 100;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
}
	a.menubutton1:hover { background: rgb(64, 190, 255); }
	a.menubutton1:active {
	background: rgb(64,140,255);
	box-shadow: 0 3px rgb(64,127,255) inset;
}
a.menubutton1 {
	position: fixed;
	top: 12%;
	right: 5px;
	padding: 10px;
	background: rgb(64,165,255);
	font-weight: 100;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
}
	a.menubutton1:hover { background: rgb(64, 190, 255); }
	a.menubutton1:active {
	background: rgb(64,140,255);
	box-shadow: 0 3px rgb(64,127,255) inset;
}
a.menubutton2 {
	top: 20%;
	position: fixed;
	right: 5px;
	padding: 10px;
	background: rgb(64,165,255);
	font-weight: 100;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
}
	a.menubutton1:hover { background: rgb(64, 190, 255); }
	a.menubutton1:active {
	background: rgb(64,140,255);
	box-shadow: 0 3px rgb(64,127,255) inset;
}
.menu2 {
    position: fixed; /* Фиксированное положение */
    right: 5px; /* Расстояние от правого края окна браузера */
    top: 11%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
    background: rgb(64,165,255);
   } 
.menu3 {
    position: fixed; /* Фиксированное положение */
    right: 5px; /* Расстояние от правого края окна браузера */
    top: 17%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */
    background: rgb(64,165,255); 
   }
        
.fon_scroll {
			margin:0;
			width:90%;
			height:20%;
			padding:30px;
			background-image:url(images/text.png);
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:5% 0%;
	}
.fon_scroll2 {
	margin: 0 auto;
	width:20%;
	height:40%;
	padding:20px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:5% 2px;	
	}
body {
	background-color:BlanchedAlmond;
    background: url('../images/bg.png') fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	}


	a.button {
	font-weight: 100;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
	} 
	a.button:hover { background: rgb(53, 167, 110); }
	a.button:active {
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
	}
@font-face {
    font-family: Unifont; /* Гарнитура шрифта */
    src: url(fonts/unifont.ttf); /* Путь к файлу со шрифтом */
	}

p 	{
	font-family: Unifont, 'Comic Sans MS';
	color: #e0ffff;
	font-size: 32px;
	}
h1 {
	font-family: Unifont, 'Comic Sans MS';
	color: #e0dfff;
	font-size:24px	
	}
.centered {
	top: 20px;
	left: 20px;
	}
